.header {
  background: #CCC;
  padding: 20px 0 10px 0;
}

.subheader {
  text-align: left;
  border-top: 1px solid #AAA;
  background: #BBB;
  padding: 5px 0 5px 15px;
}

.contacts-container{
  padding: 0 20px 0 20px;
}